#title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 3.5em;
    text-align: center;
}

.localisedClock {
    margin: 20px;
    width: 150px;
    float: left;
}

.location, .timezone, .clock{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}