#title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 3.5em;
    text-align: center;
}

#clocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.localisedClock {
    margin: 20px;
    width: 150px;
    float: left;
}

.location, .timezone, .clock .react-clock{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}